<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"><title>Nuevo producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>+Añadir nuevo producto</h1>

  <form method="post" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div style="color:#b00020">
        {% for e in form.non_field_errors %}<p>{{ e }}</p>{% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      <div style="margin-bottom:10px">
        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}:</strong></label><br>
        {{ field }}
        {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
        {% if field.errors %}
          <div style="color:#b00020">
            {% for e in field.errors %}<p>{{ e }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit">Guardar</button>
    <a href="{% url 'lista_productos' %}">Cancelar</a>
  </form>
</body>
</html>