.header {
  padding: 10px 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header h1[aria-describedby='Título de citación principal'] {
  padding: 1.875rem 0.9375rem;

  display: flex;
  flex-flow: column wrap;

  font-size: 1.3rem;
  text-align: center;
  color: var(--color-white);
}

