body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

#contenedor {
    display: flex;
    flex-direction: row;
}

#contenedorTabla {
    margin-top: 50px;
    width: 70%;

}

#contedorCarrito {
    margin-top: 50px;
    margin-left: 30px;
    width: 30%;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
}

#tituloTotal {
    margin-left: 10px;
}

#contenedorTotal {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 20px;
    border-bottom: 3px solid gainsboro;

}

tr,
td {
    padding: 20px;
    border-bottom: 2px solid gainsboro;
}

.tituloProducto {
    font-size: 1.4rem;
    font-weight: 600;
}

.contenedorCantidad {
    display: flex;
    flex-direction: row;
}

input {
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#productosCarrito {
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.lineaCompra {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}